{% extends 'main/base.html.twig' %}
{% block title %} Home {% endblock %}
{% block body %}

    <div id="first-container" class="container-fluid">
                <h1>
                    {{ campaign.name }} 
                </h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>{{campaign.description}}</p>
            </div>
        </div>
    </div>

    <div id="first-container" class="container-fluid">
        <div class="row" >
            <div class="col-12 col-lg-6 col-md-6">
                <h3>
                    Comments:
                </h3>
            </div>
        </div>
    </div>

{% if app.user.username is defined and app.user.username is not null %}
    <div class="container">
        {% if form is defined %}
            {{ form_start(form) }}
                <div class="form_group">
                    <div class="col-md-12 mb-3">
                        {{ form_row(form.text, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
                        <button type="submit" class="btn btn-primary"> Send </button>
                    </div>
                </div>
            {{ form_end(form) }}
        {% endif %}

        {% if commentlist is not null %}
            {% for comment in commentlist %}
                <div class="alert alert-dark" role="alert">
                    <div class="col-md-12 mb-3">
                        <h6>{{ comment.user.name }}</h6></br>
                        <p>{{ comment.text }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %} 
            <div class="alert alert-dark" role="alert">
                <h5> No comment</h5>
            </div>
        {% endif %} 
    </div>
{% else %} 
    <div id="text-info" class="alert alert-dark" role="alert">
        <h5> Please login to write and watch comments</h5>
        <a href="{{ path('user_login') }}">Login</a>
    </div>
{% endif %} 

{% endblock %}
